.hero {
  padding-top: 1.25rem;
  &__body {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border: 1px solid #D7D8D9;
    border-radius: 6px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  &__info {
    padding: clamp(var(--30-spacing), 3.75vw, 3.75rem) clamp(var(--30-spacing), 3.75vw, 3.75rem) clamp(var(--15-spacing), 2.5vw, 2.5rem);

  }
  &__heading {
    width: 100%;
  }
  &__heading-text {
    font-size: clamp(1.25rem, 1.5vw, 1.5rem);
    font-weight: 300;
  }
  &__banner-image {
    picture {
      height: 100%;
    }
  }
  &__bottom-info {
    padding-top: clamp(var(--15-spacing), 5.25vw, 5.25rem);
    display: grid;
    grid-gap: .75rem;
  }
  &__comment-row,
  &__bottom-row {
    display: flex;
    align-items: center;
    grid-gap: 9px;
  }
  &__name {
    font-size: 0.875rem;
  }
  &__date {
    color: var(--grey-clr);
    text-transform: uppercase;
    font-size: 0.875rem;
  }
  &__line {
    color: var(--accent-clr);
    font-size: 0.75rem;
    text-transform: uppercase;
  }
  &__comment-text {
    font-size: 0.875rem;
    color: var(--grey-clr);
  }
  &__comment-icon {
    height: 16px;
  }
}

@include max-w(53.125rem) {
 .hero {
  &__body {
    grid-template-columns: 100%;
  }
  &__banner-image picture,
  &__banner-image img {
    width: 100%;
  }
  &__banner-image img {
    aspect-ratio: 2 / 1;
  }
 }
}
