.tarif {
  background-image: var(--bg-gradient);
  padding: clamp(3.75rem, 6.25vw, 6.25rem) 0px clamp(2.5rem, 3.3125vw, 3.3125rem) ;
  &__row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    grid-gap: 1.25rem;
    margin-top: clamp(2.5rem, 3.75vw, 3.75rem);
    align-items: center;
  }
  &__title {
    text-align: center;
    color: var(--white-clr);
    font-size: clamp(2rem, 3vw, 3rem);
    font-weight: 300;
  }
  .row {
    &__item {
      background-color: var(--white-clr);
      border: 1px solid var(--border-clr);
      border-radius: 6px;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 3rem 1rem 2.5rem;
      &:nth-child(2) {
        border: 4px solid var(--accent-clr);
      }
    }
    &__item-btn {
      margin-top: var(--30-spacing);
    }
    &__item-bar {
      width: 1.5rem;
      margin-top: 12px;
      height: 2px;
      background-color: var(--accent-clr);
    }
    &__item-price {
      font-size: 1.5rem;
      padding-bottom: 1.125rem;
      border-bottom: 1px solid var(--border-clr);
      display: flex;
      align-items: center;
      margin-top: 1rem;
      span {
        font-size: 3.5rem;
        margin-left: 8px;
        margin-right: 3px;
        font-weight: 300;
      }
    }
    &__item-benefit {
      margin-top: 1.6785rem;
      font-size: 0.875rem;
      display: flex;
      grid-gap: 8px;;
      span {
        color: var(--red-clr);
        text-decoration:line-through;
      }
    }
    &__item-btn {
      max-width: 12.8125rem;
      width: 100%;
      @include max-w(45.625rem) {
        &:hover {
          background: rgba(255, 141, 0, 1) !important;
          outline: 1px solid rgba(255, 141, 0, 1);
        }
      }
    }
    &__item-name {
      font-size: 0.875rem;
      font-weight: 600;
      text-transform: uppercase;
    }
    &__item-save {
      font-weight: 700;
      font-size: .875rem;
      margin-top: 7px;
    }
  }

  .sponsor {
    &__options {
      margin-top: 10px;
      display: flex;
      justify-content: center;
      grid-gap:var(--30-spacing) 2.5rem;
      flex-wrap: wrap;
      @include max-w(35.9375rem) {
        margin-top: 2.5rem;
      }
    }
    &__link {
      display: flex;
      align-items: center;
      grid-gap: 0.75rem;
      svg {
        transition: transform .25s ease-in-out;
      }
      span {
        color: var(--accent-clr);
        font-weight: 500;
        font-size: 0.875rem;
        text-transform: uppercase;
      }
      &:hover svg {
        transform: translateX(8px);
      }
      &:hover {
        text-decoration: underline;
        text-decoration-color: var(--accent-clr);
      }
    }
  }

  .sponsor-row {
    margin-top: var(--30-spacing);
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: var(--30-spacing) 1.25rem;
    &__list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      grid-gap: 2rem;

    }
    &__item {
      transition: transform .25s ease-in-out;
      cursor: pointer;
      &:hover {
        transform: scale(1.1);
      }
    }
    &__ways {
      color: var(--white-clr);
      font-size: 1.125rem;
      font-weight: 300;
    }
  }
}

._active-tarif-item {
  border: 4px solid var(--accent-clr);
  min-height: 23.75rem;
  height: 100%;
  @include max-w(45.625rem) {
    border: 4px solid rgba(255, 141, 0, 1) !important;
  }
}

@include max-w(31.25rem) {
  .row {
    grid-template-columns: 100%;
  }
}

@include max-w(59.375rem) {
  .sponsor-row {
    flex-direction: column;
    align-items: center;
    text-align: center;
    &__list {
      justify-content: space-between;
      grid-gap: .5rem !important;
    }
  }
}
